body {
	background-color: lightgray;
	margin-top: 20px;
	background-image: url("../images/rest.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
	width: 30%;
	height: auto;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 6vw;
	color: rgb(180,40,38);
}

h3 {
	font-family: 'Quicksand', sans-serif;
	color: rgb(35,90,30);

}

.container {
	width: 85%;
	padding: 4% 0;
	background: rgba(255,255,255,.85);
	border-radius: 5px;
}

h3.text-muted {
	color: rgb(241,178,3);
}

.sub-t {
	margin: -15px auto;
}
